@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;800&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
}

.company-logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.company-logo img {
    width: 140px;
    height: 140px;
}

.header-logo {
    font-size: 24px;
}

header a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 8px;
    font-size: 18px;
}

.awesome-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 100px;
}


.content-section {
    padding: 0 200px;
    padding-bottom: 100px;
}

.awesome-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.awesome-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.awesome-text-content {
    flex-basis: 50%;
    display:flex;
    flex-direction: column;
}

.awesome-content img {
    width: 100%;
    max-width: 100%;
    height:auto;

}

.sign-up-button {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 0;
    padding:10px 40px;
    border-radius: 10px;
    font-size:18px;
    font-weight:800;
}